[Unit]
Description=Execution pendulum auto start script
After=network.target

[Service]
ExecStart=/usr/bin/python3 pendulum_auto_start_script.py
WorkingDirectory=%h/gcl-pendulum/Tools

[Install]
WantedBy=multi-user.target
